---
# ------------------------------------------------------------------------
# tasks file for common
# ------------------------------------------------------------------------

# ------------------------------------------------------------------------
# install packages
# ------------------------------------------------------------------------
- name: install requirements
  package:
    name: "{{ common_requirements }}"
    state: present
  register: common_install_requirements
  until: common_install_requirements is succeeded
  retries: 3

# ------------------------------------------------------------------------
# Network Manager configuration if needed
# ------------------------------------------------------------------------
- name: check for network manager
  stat:
    path: /etc/NetworkManager/NetworkManager.conf
  register: common_check_for_network_manager

- name: set nameservers in network manager
  ini_file:
    path: /etc/NetworkManager/conf.d/dnsservers.conf
    section: global-dns-domain-*
    option: servers
    value: "{{ common_nameservers | join(',') }}"
  when:
    - common_check_for_network_manager.stat.exists
  notify:
    - reload network manager
    - gather facts

# ------------------------------------------------------------------------
# resolv.conf configuration
# ------------------------------------------------------------------------
- name: configure resolv.conf
  template:
    src: "resolv.conf.j2"
    dest: "/etc/resolv.conf"
    mode: "0644"
  become: true
  when:
    - common_nameservers is defined
    - not common_check_for_network_manager.stat.exists
    - ansible_virtualization_type != "docker"
  notify:
    - gather facts

# ------------------------------------------------------------------------
# flush handlers
# ------------------------------------------------------------------------
- name: flush handlers
  meta: flush_handlers

# ------------------------------------------------------------------------
# set hostname and reboot if needed
# ------------------------------------------------------------------------
- name: set hostname
  hostname:
    name: "{{ common_hostname }}"
  when:
    - ansible_virtualization_type != "docker"
  register: set_hostname
  notify:
    - restart hostname
    - restart systemd-logind

- name: build hosts file (backups will be made)
  lineinfile:
    dest: /etc/hosts
    regexp: "^{{ ansible_default_ipv4.address }}"
    line: "{{ ansible_default_ipv4.address }} {{ common_fqdn }} {{ common_hostname }}"
    state: present
    backup: true
  when:
    - ansible_default_ipv4.address is defined
    - ansible_virtualization_type != "docker"
  notify:
    - restart hostname
    - restart systemd-logind

- name: reboot for hostname
  include_role:
    name: tehtbl.reboot
  when:
    - set_hostname.changed
    - common_reboot | bool
  tags:
    - skip_ansible_lint

- name: Re-gather facts
  action: setup
  when: ansible_hostname != common_fqdn
